*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  padding: 0;
  margin: 0;
  background: none;
  outline: none;
  cursor: pointer;
  border: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #000;
  outline: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

ul, ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

html,
body {
  position: relative;
  height: 100%;
}

body {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #363636;

  &.loading {
    overflow: hidden;
  }
}

.full-page {
  height: 100%;
  width: 100%;
}

.page-section {
  background: #F9F9F9;
  height: 100vh;

  &__wrapper {
    min-height: 100%;
  }
}

.section .page-section__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 0;
}

.container {
  max-width: 1760px;
  width: 100%;
  padding: 0 70px;
  margin: 0 auto;
}

.btn-yellow {
  letter-spacing: 0.02em;
  font-weight: 600;
  background-color: $yellow;
  border-radius: 4px;
  font-size: 20px;
  line-height: 24px;
  color: #363636;
  transition: background-color .2s ease;

  &:hover {
    background-color: $yellowHover;
  }
}

.btn-red {
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background: $red;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  transition: background-color .2s ease;

  &:hover {
    background-color: $redHover;
  }
}

.btn-pink {
  background: $pink;
  border-radius: 4px;
  letter-spacing: 0.02em;
  font-weight: 600;
  line-height: 32px;
  color: #ffffff;
  transition: background-color .2s ease;

  &:hover {
    background-color: $pinkHover;
  }
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 24px;
}

.description {
  line-height: 26px;
  max-width: 825px;
  margin-bottom: 51px;
}

.iScrollIndicator {
  display: none !important;
}

.loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(286.23deg, #34343D 3.42%, #1A1A20 97.08%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: -1;

  &.showed {
    display: flex;
    z-index: 99999;
  }
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 74px;
  height: 74px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  margin: 7px;
  border: 7px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}