@media (max-width: 1855px) {
  #fp-nav {
    right: 27px;
  }
}

@media (max-width: 1730px) {
  .services__inner {
    max-width: 1100px;
  }
}

@media (max-width: 1440px) {
  .logo img {
    max-width: 240px;
    max-height: 42px;
  }

  .header {
    padding: 23px 40px;
    transform: translateY(0);
    transition: transform .5s ease, background-color .5s ease;


    &.filled {
      background-color: #34343D;
    }


    &__menu-btn {
      display: block;
      width: 34px;
      height: 24px;
      cursor: pointer;

      div {
        width: 100%;
        height: 4px;
        background: #FFFFFF;
        border-radius: 4px;
      }

      div + div {
        margin-top: 6px;
      }
    }

    &__content {
      position: absolute;
      max-width: 500px;
      width: 100%;
      top: 0;
      left: 0;
      flex-direction: column;
      background: #34343D;
      height: 100vh;
      overflow: auto;
      padding: 80px 20px 5px 20px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      transition: transform .4s ease;
      transform: translateX(-101%);

      &.show {
        transform: translateX(0);
      }
    }

    &__content .logo {
      display: flex;
      margin-bottom: 40px;

      img {
        max-width: 172px;
        max-height: 32px;
      }
    }

    &__content .close {
      display: block;
      width: 24px;
      height: 24px;
      position: absolute;
      top: 16px;
      right: 20px;

      &::before,
      &::after {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 3px;
        height: 31px;
        background: #fff;
      }

      &::before {
        transform: rotate(-45deg);
      }

      &::after {
        transform: rotate(45deg);
      }
    }

    &__nav {
      width: 100%;
    }

    &__list {
      flex-direction: column;
    }

    &__list-item {
      border-top: 1px solid #5D6676;

      & + & {
        margin-left: 0;
      }
    }

    &__list-link {
      padding: 25px 0 20px;
      width: 100%;
      transition: color .1s ease;

      &::before {
        display: none;
      }

      &:hover {
        color: #8E9196;
      }
    }

    &__phone {
      border-top: 1px solid #5D6676;
      width: 100%;
      margin-left: 0;
      padding: 25px 0 20px;
      transition: color .1s ease;

      &:hover {
        color: #8E9196;
      }
    }

    &__mobile-item {
      display: block;
    }
  }

  .main {

    &__wrapper {
      padding: 120px 0 32px;
    }

    &__container {
      justify-content: center;
      padding: 0 40px;
    }

    &__body {
      padding-right: 0;
      margin-bottom: 50px;
      margin-top: auto;
    }

    &__footer {
      margin-top: auto;
    }

    &__title {
      font-size: 36px;
      line-height: 45px;
      margin-bottom: 40px;
    }

    &__text {
      margin-bottom: 40px;
    }

    &__img img {
      max-width: 678px;
    }
  }

  .section .page-section__wrapper {
    padding-top: 120px;
    padding-bottom: 32px;
  }

  .title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 18px;
    line-height: 23px;
    max-width: 770px;
    margin-bottom: 24px;
  }

  .container {
    padding: 0 40px;
  }

  .projects {

    &__inner {
      margin-bottom: 40px;
    }

    &__item {
      height: 390px;
      width: 300px;
      padding: 25px;
      font-size: 18px;
      line-height: 21px;
    }

    &__item:hover .projects__item-box {
      height: 213px;
    }

    &__item-name {
      font-size: 20px;
      line-height: 24px;
    }

    &__item-btn {
      font-size: 16px;
      line-height: 19px;
      padding: 18px 34px;
      margin: 20px auto;
    }

    &__more {
      font-size: 18px;
      line-height: 21px;
    }
  }

  .work {
    &__title {
      margin-bottom: 5px;
    }

    &__item {
      margin: 50px 0;
    }

    &__item-title {
      font-size: 22px;
      line-height: 26px;
      margin-bottom: 15px;
    }

    &__item-num {
      font-size: 30px;
      line-height: 36px;
      width: 76px;
      height: 93px;

      &::before {
        width: 22px;
        height: 37px;
        border-width: 37px 22px 0 0;
      }
    }
  }

  .swiper {
    &__dots {
      margin: 0 25px;

      span + span {
        margin-left: 25px;
      }

      span {
        width: 13px;
        height: 13px;
      }
    }

    &__arrow {
      img {
        width: 13px;
      }
    }
  }

  .contacts {
    &__text {
      margin-bottom: 35px;
    }

    &__bot {
      margin-bottom: 0;
    }
  }

  .footer {
    display: none;
  }

  .services {
    &__inner {
      max-width: 950px;
    }

    &__item {
      padding: 30px 40px;
      min-height: 205px;
      width: 460px;
    }

    &__info {
      padding: 30px 40px;
    }

    &__item-title {
      margin-bottom: 15px;
    }

    &__info-text + &__info-text {
      margin-top: 15px;
    }

    &__info-btns {
      margin-top: 30px;
    }

    &__info-btn {
      padding: 16px 35px;
    }

    &__controls {
      margin-top: 17px;
    }
  }

  .modal {

    &__box {
      padding: 50px 40px;
    }

    &__title {
      font-size: 30px;
      line-height: 36px;
    }

    &__text {
      font-size: 18px;
      line-height: 22px;
      max-width: 745px;
    }

    &__form-btn {
      font-size: 16px;
      line-height: 19px;
      padding: 21px 50px;
      margin-top: 48px;
    }

    .close {
      top: 6px;
    }
  }

  .input-label {
    &__text {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .input-error {
    font-size: 16px;
    line-height: 19px;
  }

  .input,
  .textarea {
    font-size: 16px;
    line-height: 19px;
    padding: 20px;
  }

  .textarea {
    height: 197px;
  }

  #fp-nav {
    right: 12px;
  }
}

@media (max-width: 1366px) {
  .logo img {
    max-width: 180px;
    max-height: 32px;
  }

  .main {
    &__wrapper {
      padding-top: 110px;
    }

    &__title {
      font-size: 30px;
      line-height: 39px;
      margin-bottom: 30px;
    }

    &__text {
      font-size: 18px;
      line-height: 30px;
    }

    &__btn {
      padding: 22px 48px;
    }

    &__img img {
      max-width: 586px;
    }
  }

  .btn-yellow {
    font-size: 18px;
    line-height: 22px;
  }

  .section .page-section__wrapper {
    padding-top: 110px;
  }

  .title {
    font-size: 26px;
    line-height: 29px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 16px;
    line-height: 19px;
    max-width: 690px;
    margin-bottom: 20px;
  }

  .container {
    padding: 0 40px;
  }

  .projects {

    &__inner {
      margin-bottom: 30px;
    }

    &__item {
      height: 300px;
      width: 250px;
      padding: 23px 15px;
      font-size: 15px;
      line-height: 17px;
    }

    &__item:hover .projects__item-content {
      min-height: 0;
    }

    &__item-box {
      display: none;
    }

    &__item-name {
      font-size: 17px;
      line-height: 21px;
      margin-bottom: 8px;
    }

    &__more {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .header {
    &__list-link {
      font-size: 16px;
      line-height: 19px;
    }

    &__phone {
      font-size: 18px;
      line-height: 22px;
    }
  }

  .work {
    &__title {
      margin-bottom: 24px;
    }

    &__item {
      margin: 16px 0;
      max-width: 540px;
    }

    &__item-title {
      font-size: 20px;
      line-height: 24px;
      margin-bottom: 10px;
    }

    &__item-text {
      font-size: 16px;
      line-height: 24px;
    }

    &__item-num {
      font-size: 24px;
      line-height: 27px;
      width: 56px;
      height: 70px;
      margin-right: 20px;

      &::before {
        width: 16px;
        height: 27px;
        border-width: 27px 16px 0 0;
      }
    }

    &__controls {
      margin-top: 15px;
    }
  }

  .swiper__arrow img {
    width: 12px;
  }

  .contacts {
    &__title {
      margin-bottom: 15px;
    }

    &__text {

    }

    &__list {
      margin-bottom: 30px;
    }

    &__list-item {
      max-width: 280px;
      padding: 18px 25px;
    }

    &__list-name {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 15px;
    }

    &__list-social, &__list-phone, &__list-email {
      font-size: 16px;
      line-height: 19px;
    }

    &__list-text {
      font-size: 16px;
      line-height: 21px;
    }

    &__bot-text {
      font-size: 16px;
      line-height: 21px;
    }

    &__bot-btn {
      font-size: 18px;
      line-height: 25px;
      padding: 18px 48px;
    }
  }

  .services {

    .services__wrapper {
      padding-bottom: 0;
    }

    &__title {
      margin-bottom: 13px;
    }

    &__inner {
      max-width: 770px;
    }

    &__item {
      padding: 20px 30px;
      min-height: 163px;
      width: 380px;
    }

    &__item-title {
      font-size: 18px;
      line-height: 22px;
      margin-bottom: 13px;
    }

    &__item-text {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 10px;
    }

    &__more-text {
      font-size: 15px;
      line-height: 18px;
    }

    &__info {
      padding: 20px 30px;
    }

    &__info-text {
      font-size: 15px;
      line-height: 20px;
    }

    &__info-btns {
      margin-top: 23px;
    }

    &__info-link {
      font-size: 15px;
      line-height: 18px;
    }

    &__info-btn {
      font-size: 15px;
      line-height: 18px;
      padding: 12px 24px;
    }
  }

  .modal {

    &__inner {
      max-width: 992px;
    }

    &__box {
      padding: 40px;
    }

    &__title {
      font-size: 26px;
      line-height: 29px;
      margin-bottom: 17px;
    }

    &__text {
      font-size: 16px;
      line-height: 19px;
      margin-bottom: 30px;
      max-width: 660px;
    }

    &__form-column {
      width: calc(50% - 15px);
    }

    &__form-btn {
      font-size: 16px;
      line-height: 19px;
      padding: 17px 40px;
      margin-top: 46px;
    }

    .close {
      top: 3px;
    }

    &__thanks-img img {
      width: 155px;
    }
  }

  .input-label {
    &__text {
      font-size: 16px;
      line-height: 19px;
    }
  }

  .input-error {
    font-size: 15px;
    line-height: 18px;
  }

  .input,
  .textarea {
    font-size: 15px;
    line-height: 18px;
    padding: 17px;
  }

  .textarea {
    height: 179px;
  }
}

@media (max-width: 1280px) {
  .logo img {
    max-width: 160px;
    max-height: 74px;
  }

  .title {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 15px;
  }

  .work__title {
    margin-bottom: 24px;
  }

  .services {

    .services__wrapper {
      padding-top: 90px;
    }

    &__inner {
      max-width: 710px;
    }

    &__item {
      padding: 20px;
      min-height: 160px;
      width: 350px;
    }

    &__item-text {
      margin-bottom: 8px;
    }

    &__info {
      padding: 20px;
    }
  }
}

@media (max-width: 1156px) {
  .main__img img {
    max-width: 455px;
  }
}

@media (max-width: 1130px) {
  .contacts {
    &__list-item {
      padding: 18px 15px;

      &_phone {
        display: none;
      }
    }

    &__list-item_schedule .contacts__list-phone {
      display: inline-block;
      margin-bottom: 8px;
    }

    &__list-name {
      display: none;
    }
  }
}

@media (max-width: 1050px) {
  .work {
    .section &__wrapper {
      justify-content: flex-start;
    }

    &__slider {
      margin-top: 80px;
    }

    &__item {
      margin: 20px auto;
    }
  }
}

@media (max-width: 1024px) {

  .lds-ring {
    width: 62px;
    height: 62px;
  }

  .lds-ring div {
    width: 50px;
    height: 50px;
    margin: 6px;
    border: 6px solid #fff;
    border-color: #fff transparent transparent transparent;
  }

  .main {

    &__body {
      justify-content: center;
      text-align: center;
    }

    &__img {
      display: none;
    }

    &__title {
      animation-delay: .5s;
    }

    &__text {
      animation-delay: 1s;
    }

    &__btn {
      animation-delay: 1.5s;
    }

    &__footer {
      animation-delay: 2s;
    }
  }

  .services {

    .services__wrapper {
      padding: 110px 0 32px;
    }

    &__controls {
      display: none;
    }

    &__inner {
      overflow: visible;
      margin-left: 0;
    }

    .swiper-wrapper {
      flex-direction: column;
    }

    &__item {
      width: 320px;
      padding: 6px 0;
      min-height: 65px;
      background: transparent;
      border-top: 1px solid #5D6676;
      border-radius: 0;
      color: #363636;
      cursor: pointer;
      display: flex;
      align-items: center;

      &._1,
      &._2 {
        background: #34343D;
        color: #ffffff;
        width: 360px;
        margin: 0 -20px;
      }

      &._1 .services__item-content,
      &._2 .services__item-content {
        display: none;
      }

      &._1 .services__item-content._1 {
        display: block;
      }

      &._2 .services__item-content._2 {
        display: block;
      }
    }

    &__item-content {
      position: relative;
      padding-left: 47px;
      padding-right: 25px;
      width: 100%;
      font-size: 18px;
      line-height: 22px;

      &::before {
        content: '';
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        right: 0;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 11px;
        height: 20px;
        background-image: url('../img/grey-next.svg');
      }

      &._1,
      &._2 {
        padding-left: 20px;
        padding-right: 60px;
      }

      &._1::before {
        width: 19px;
        height: 20px;
        background-image: url('../img/grey-next-2.svg');
        right: 21px;
      }

      &._2::before {
        width: 20px;
        height: 20px;
        background-image: url("../img/grey-close.svg");
        right: 21px;
      }

      span + span {
        margin-left: 30px;
      }
    }

    &__item-icon {
      width: 30px;
      height: 30px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      display: flex;
      align-items: center;
    }

    .swiper-slide:last-child .services__item {
      border-bottom: 1px solid #5D6676;
    }

    .swiper-slide.active + .swiper-slide .services__item {
      border-top: 1px solid transparent;
    }

    &__item-title {
      margin: 0;
      font-weight: 500;
    }

    &__item-text {
      display: none;
    }

    &__info-btn {
      padding: 16px 37px;
      font-size: 16px;
      line-height: 19px;
    }

    &__more {
      display: none;
    }

    &__example {
      display: block;
      margin-top: 15px;
    }

    &__example-link {
      font-weight: 600;
      font-size: 16px;
      line-height: 19px;
      text-decoration: underline;
      color: #363636;
    }
  }
}

@media (max-width: 1000px) {
  .work__item {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 800px) {
  .main__wrapper {
    min-height: 100vh;
  }

  .page-section {
    height: auto;
  }

  .page-section__wrapper {
    min-height: 0;
  }

  .section .page-section__wrapper {
    padding-top: 32px;
  }

  .contacts {

    &__wrapper {
      padding: 50px 0 !important;
    }

    &__text {
      margin-bottom: 32px;
    }

    &__list {
      flex-direction: column;
      margin-bottom: 0;
    }

    &__list-icon {
      img {
        width: 44px;
        height: 44px;
      }
    }

    &__list-item {
      display: flex;
      align-items: center;
      max-width: 100%;
      padding: 0;
      text-align: left;
      margin-bottom: 50px;

      &_phone,
      &_socials {
        display: none;
      }

      & + & {
        border-left: none;
      }
    }

    &__list-icon {
      margin-bottom: 0;
      margin-right: 16px;
    }

    &__list-text br {
      display: none;
    }

    &__messengers {
      display: flex;
      margin-bottom: 50px;

      img {
        width: 44px;
        height: 44px;
      }
    }

    &__messengers-item {
      img {
        width: 44px;
        height: 44px;
      }

      & + & {
        margin-left: 66px;
      }
    }
  }

  .work {
    &__slider {
      margin-top: 0;
    }

    .swiper-wrapper {
      flex-direction: column;
    }
  }

  .swiper__controls {
    display: none;
  }

  .services {
    background: #E3E3F2;
  }

  .projects {
    &__inner {
      margin-left: -40px;
      margin-right: -40px;
    }

    &__item {
      &:first-child {
        margin-left: 40px;
      }

      &:last-child {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    padding: 20px 30px;
  }

  .main {
    background: linear-gradient(
                    342.39deg, #34343D 0%, #1A1A20 100%);

    &__text {
      margin-bottom: 73px;
    }

    &__container {
      padding: 0 30px;
    }

    &__wrapper {
      padding-top: 104px;
    }
  }

  .container {
    padding: 0 30px;
  }

  .projects {
    &__inner {
      margin-left: -30px;
      margin-right: -30px;
    }

    &__item {
      &:first-child {
        margin-left: 30px;
      }

      &:last-child {
        margin-right: 30px;
      }
    }
  }

  .modal {
    &__text_desktop {
      display: none;
    }

    &__form {
      flex-direction: column;
    }

    &__form-column {
      width: 100%;

      & + & {
        margin-top: 15px;
      }
    }

    &__form-btn {
      margin-top: 15px;
    }
  }

  .textarea {
    height: 100px;
  }
}

@media (max-width: 500px) {
  .logo img {
    max-width: 130px;
    max-height: 24px;
  }

  .header {
    padding: 16px 20px;
  }

  .main {

    &::before {
      background-position: left center;
    }

    &__wrapper {
      padding: 126px 0 40px;
    }

    &__container {
      padding: 0 20px;
      justify-content: flex-start;
    }

    &__body {
      margin: 0;
    }

    &__content {
      max-width: 280px;
    }

    &__footer {
      display: none;
    }

    &__title {
      font-size: 20px;
      line-height: 24px;
    }

    &__text {
      font-size: 14px;
      line-height: 24px;
    }

    &__btn {
      padding: 18px 43px;
    }
  }

  .btn-yellow {
    font-size: 16px;
    line-height: 19px;
  }

  .title {
    font-size: 16px;
    line-height: 20px;
  }

  .description {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  .container {
    padding: 0 20px;
  }

  .projects {
    &__item {
      width: 231px;
      height: 283px;
      font-size: 12px;
      line-height: 15px;

      &:first-child {
        margin-left: 20px;
      }

      &:last-child {
        margin-right: 20px;
      }
    }

    &__item-name {
      font-size: 15px;
      line-height: 18px;
      margin-bottom: 9px;
    }

    &__inner {
      margin: 0 -20px 26px;
    }

    &__more {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .contacts {

    &::before {
      background-position: left center;
    }

    &__text {
      max-width: 227px;
      line-height: 17px;
      margin-bottom: 32px;
    }

    &__list-social,
    &__list-phone,
    &__list-email,
    &__list-text {
      font-size: 14px;
      line-height: 17px;
    }

    &__list-text {
      display: none;

      span {
        font-weight: 600;
      }

      &_mobile {
        display: block !important;
      }
    }

    &__bot-text {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 24px;
    }

    &__bot-btn {
      font-size: 16px;
      padding: 15px 51px;
    }

  }

  .work {
    &__title {
      margin-bottom: 50px;
    }

    &__slider {
      overflow: visible;
    }

    &__item {
      margin: 0;
      position: relative;
    }

    &__slide {
      & + & {
        margin-top: 32px;
      }
    }

    &__item-num {
      position: absolute;
      right: 0;
      top: -13px;
      font-size: 16px;
      line-height: 20px;
      width: 37px;
      height: 45px;
      margin: 0;

      &::before {
        width: 11px;
        height: 18px;
        border-width: 18px 11px 0 0;
      }
    }

    &__item-title {
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 15px;
      padding-right: 45px;
    }

    &__item-text {
      font-size: 14px;
      line-height: 23px;
      padding-right: 20px;
    }
  }

  .services {

    .swiper-slide {
      display: flex;
      justify-content: center;
    }

    &__item-title {
      font-size: 16px;
      line-height: 19px;
    }

    &__item-content {
      font-size: 16px;
      line-height: 19px;
    }

    &__example {
      text-align: center;
    }

    &__example-link {
      font-size: 14px;
      line-height: 17px;
    }
  }

  .modal {

    &__inner.modal__inner_thanks {
      max-width: 365px;
    }

    &__title {
      font-size: 18px;
      line-height: 20px;
      padding-bottom: 8px;
      margin-bottom: 15px;
      border-bottom: 1px solid #5D6676;
    }

    &__box {
      position: relative;
      padding: 40px 20px;
    }

    &__content {
      position: static;
    }

    .close {
      top: 15px;
      right: 20px;
    }

    &__form-btn {
      display: block;
      margin: 15px auto 0;
      font-size: 12px;
      line-height: 15px;
      padding: 15px 37px;
    }

    &__text {
      font-size: 14px;
      line-height: 17px;
    }

    &__thanks-img {
      margin: 50px 0 60px;

      img {
        width: 125px;
      }
    }
  }

  .input-label__text {
    font-size: 14px;
    line-height: 17px;
  }

  .input,
  .textarea {
    font-size: 12px;
    line-height: 15px;
    padding: 15px;
  }

  .textarea {
    height: 47px;
  }

  .input-error {
    font-size: 12px;
    line-height: 15px;
  }
}

@media (max-width: 360px) {
  .services {
    &__item {
      width: 280px;

      &._1,
      &._2 {
        width: 320px;
      }
    }
  }
}