@import './fonts';
@import './vars';
@import './animations';
@import './global';

.main {
  background: linear-gradient(286.23deg, #34343D 3.42%, #1A1A20 97.08%);
  color: #ffffff;
  z-index: 0;
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/smoke.png');
  }

  &__wrapper {
    padding: 100px 0 64px;
    display: flex;
    position: relative;
    z-index: 1;
  }

  &__container {
    max-width: 1920px;
    width: 100%;
    padding: 0 64px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1570px;
    width: 100%;
    margin: 0 auto;
    padding-right: 70px;
  }

  &__content {
    max-width: 545px;
    width: 100%;
  }

  &__title,
  &__text,
  &__btn,
  &__footer {
    opacity: 0;
    animation: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    text-transform: uppercase;
    margin-bottom: 57px;
    animation-delay: 1.2s;
  }

  &__text {
    line-height: 32px;
    letter-spacing: 0.04em;
    margin-bottom: 55px;
    animation-delay: 1.7s;
  }

  &__btn {
    padding: 24px 55px;
    animation-delay: 2.3s;
  }

  &__img {
    opacity: 0;
    animation: fadeIn;
    animation-delay: .5s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  &__footer {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-delay: 2.7s;
  }

  &__messengers {
    display: flex;
    align-items: center;
  }

  &__messenger {
    display: flex;

    &:hover {
      animation: rotate .3s ease;
    }

    & + & {
      margin-left: 13px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 51px 64px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transform: translateY(-101%);
  transition: transform .5s ease;

  &.show {
    transform: translateY(0);
  }

  &__menu-btn {
    display: none;
  }

  &__content {
    display: flex;
    align-items: center;
  }

  &__content .logo,
  &__content .close {
    display: none;
  }

  &__list {
    display: flex;
  }

  &__list-item {
    & + & {
      margin-left: 40px;
    }
  }

  &__list-link {
    color: #ffffff;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: -5px;
      width: 0;
      height: 1px;
      transition: width .2s ease;
      background: $yellow;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__phone {
    color: #ffffff;
    margin-left: 80px;
    font-weight: 600;
    text-decoration: underline;
  }

  &__mobile-item {
    display: none;
  }
}

.logo {
  display: flex;
}

.locale {
  font-size: 18px;
  line-height: 22px;

  &__link {
    color: #ffffff;
    font-weight: 400;
    transition: font-weight .1s ease;

    &.active,
    &:hover {
      font-weight: 600;
    }
  }
}

.projects {
  &__inner {
    margin-bottom: 80px;
  }

  &__item {
    width: 370px;
    position: relative;
    height: 464px;
    border-radius: 4px;
    padding: 30px;
  }

  &__item-cover,
  &__item-shadow {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
  }

  &__item-cover {
    display: flex;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: inherit;
    }
  }

  &__item-shadow {
    z-index: 1;
    background: #363636;
    opacity: 0.6;
  }

  &__item-inner {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;
  }

  &__item-content {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all .5s ease;
    min-height: 0;
  }

  &__item-box {
    height: 0;
    transform: translateY(25px);
    transition: all .5s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item:hover .projects__item-content {
    min-height: 100%;
  }

  &__item:hover .projects__item-box {
    height: 255px;
    transform: translateY(0);
  }

  &__item-name {
    font-weight: 700;
    text-align: center;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 15px;
  }

  &__item-type {
    font-weight: 600;
    text-align: center;
  }

  &__item-btn {
    padding: 24px 43px;
    display: block;
    margin: 25px auto;
  }

  &__item-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__item-platforms {
    display: flex;
    flex-direction: column;
  }

  &__item-platform {
    & + & {
      margin-top: 8px;
    }
  }

  &__item-country {
    font-weight: 600;
    position: relative;
    padding-left: 21px;

    &::before {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 14px;
      height: 17px;
      background-image: url('../img/map-white.svg');
    }
  }

  &__more {
    text-align: center;
  }

  &__more-link {
    font-weight: 600;
    text-decoration: underline;
  }
}


.services {
  &__item {
    background: #64676A;
    border-radius: 4px;
    padding: 47px 80px 40px 48px;
    color: #ffffff;
    width: 500px;
    min-height: 245px;
    position: relative;
    overflow: hidden;
  }

  &__item-content_more {
    display: none;
  }

  &__item-icon {
    display: none;
  }

  &__item-title {
    font-weight: 700;
    margin-bottom: 23px;
    font-size: 20px;
    line-height: 24px;
  }

  &__item-text {
    font-size: 18px;
    margin-bottom: 17px;
  }

  &__more {
    display: inline-block;

    &:hover .services__info {
      display: block;
    }
  }

  &__more-text {
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    cursor: default;
  }


  &__info {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #34343D;
    display: none;
    padding: 47px 48px;
  }

  &__info-text {
    line-height: 26px;
    font-weight: 700;

    & + & {
      margin-top: 20px;
    }
  }

  &__info-btns {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__info-link {
    font-size: 18px;
    line-height: 22px;
    text-decoration: underline;
    color: #ffffff;
  }

  &__info-btn {
    padding: 19px 45px;
    font-size: 16px;
    line-height: 20px;
  }

  &__example {
    display: none;
  }

  &__controls {
    margin-top: 60px;
  }
}

.swiper {
  &__controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__arrow {
    display: flex;

    &.swiper-button-disabled {
      opacity: .27;
      cursor: default;
    }
    
    &.swiper-button-lock {
      display: none;
    }
  }

  &__dots {
    margin: 0 32px;

    span {
      width: 16px;
      height: 16px;
      background: #C4C4C4;
      border-radius: 50%;
      opacity: 1;
    }

    span + span {
      margin-left: 32px;
    }

    .swiper-pagination-bullet-active {
      background: #34343D;
    }
  }
}

.work {
  &__title {
    margin-bottom: 5px;
  }

  &__container {
    max-width: 1300px;
    margin: 0 auto;
  }

  &__controls {
    margin-top: 25px;
  }

  &__dots {
    .swiper-pagination-bullet-active {
      background: #6574FF;
    }
  }

  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 575px;
    width: 100%;
    margin: 90px 0;
  }

  &__item-num {
    flex-shrink: 0;
    position: relative;
    width: 92px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    line-height: 49px;
    color: #ffffff;
    background: #6574FF;
    margin-right: 24px;

    &::before {
      content: '';
      position: absolute;
      top: 100%;
      right: 0;
      width: 27px;
      height: 45px;
      border-style: solid;
      border-width: 45px 27px 0 0;
      border-color: #6574FF transparent transparent transparent;
    }
  }

  &__item-title {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 24px;
    font-weight: 700;
  }

  &__item-text {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0.04em;
  }
}


.contacts {
  background: #34343d;
  color: #ffffff;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('../img/smoke.png');
  }

  &__wrapper {
    position: relative;
    z-index: 1;
  }

  &__title {
    text-align: center;
    margin-bottom: 15px;
  }

  &__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 54px;

    a {
      color: #ffffff;
    }
  }

  &__list-item {
    max-width: 321px;
    width: 100%;
    padding: 18px 49px;
    text-align: center;

    & + & {
      border-left: 1px solid #ffffff;
    }

  }

  &__list-icon {
    display: flex;
    justify-content: center;
    margin-bottom: 21px;

    img {
      width: 48px;
      height: 48px;
      object-fit: contain;
    }
  }

  &__list-name {
    font-weight: 700;
    margin-bottom: 18px;
  }

  &__list-socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -5px -4px;
  }

  &__list-social {
    margin: 5px 4px;
  }

  &__list-social,
  &__list-phone,
  &__list-email {
    font-size: 18px;
    line-height: 22px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__list-phone {
    text-decoration: underline;
  }

  &__list-item_schedule .contacts__list-phone {
    display: none;
  }

  &__list-text {
    font-size: 18px;
    line-height: 24px;

    &_mobile {
      display: none !important;
    }

    span {
      font-weight: 700;
    }
  }

  &__messengers {
    display: none;
  }

  &__bot {
    text-align: center;
    margin-bottom: 54px;
  }

  &__bot-text {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
  }

  &__bot-btn {
    padding: 20px 65px;
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: auto;

  &__nav,
  &__contacts,
  &__info {
    padding-top: 15px;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__list-item {
    & + & {
      margin-top: 26px;
    }
  }

  &__list-link {
    color: #ffffff;
    font-size: 18px;
    line-height: 22px;
  }

  &__nav-link {
    font-weight: 600;
    position: relative;

    &::before {
      content: '';
      position: absolute;
      bottom: -5px;
      left: 0;
      width: 0;
      height: 1px;
      background: $yellow;
      transition: width .2s ease;
    }

    &:hover::before {
      width: 100%;
    }
  }

  &__contacts-title {
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 26px;
  }

  &__contacts-link:hover {
    text-decoration: underline;
  }

  &__phone {
    font-weight: 600;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 20px;
  }

  &__schedule {
    font-size: 18px;

    span {
      font-weight: 700;
    }
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(#363636, .5);
  display: none;
  opacity: 0;
  transition: opacity .2s ease;

  &.show {
    opacity: 1;
  }

  &__inner {
    max-height: 100%;
    overflow-y: auto;
    max-width: 1215px;
    width: 100%;
    transition: max-width .3s ease;

    &.modal__inner_thanks {
      max-width: 500px;
    }
  }

  &__box {
    background: #E3E3F2;
    padding: 80px 40px;
    width: 100%;
  }

  &__content {
    position: relative;
    max-width: 1015px;
    width: 100%;
    margin: 0 auto;
  }

  &__body {
    opacity: 1;
    transition: opacity .3s ease;

    &.off {
      opacity: 0;
    }
  }

  .close {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 13px;
    right: 0;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      background: #363636;
      width: 3px;
      height: 31px;
    }

    &::before {
      transform: rotate(-45deg);
    }

    &::after {
      transform: rotate(45deg);
    }
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 825px;
    letter-spacing: 0.02em;
    margin-bottom: 48px;
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__form-column {
    width: calc(50% - 30px);
  }

  .input-wrapper + .input-wrapper {
    margin-top: 16px;
  }

  &__form-btn {
    margin-top: 52px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 24px 55px;
  }

  &__thanks-img {
    text-align: center;
    margin: 50px 0 70px;
  }

  &__socials {
    display: flex;
    align-items: center;
  }

  &__socials-item {
    display: flex;

    &:hover {
      animation: rotate .3s ease;
    }

    & + & {
      margin-left: 13px;
    }

    img {
      width: 30px;
      height: 30px;
    }
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;

  &.error .input-error {
    visibility: visible;
  }
}

.input-label {
  display: flex;
  flex-direction: column;

  &__text {
    letter-spacing: 0.02em;
    margin-bottom: 11px;
  }
}

.input {
  border: 1px solid #363636;
  border-radius: 4px;
  background: transparent;
  padding: 23px 23px 27px 23px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  outline: none;

  &::placeholder {
    color: #363636;
  }
}

.input-error {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #FC5050;
  margin-top: 7px;
  visibility: hidden;
}

.textarea {
  border: 1px solid #363636;
  border-radius: 4px;
  padding: 23px;
  background: transparent;
  resize: none;
  height: 228px;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  outline: none;

  &::placeholder {
    color: #363636;
  }
}

#fp-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 64px;
  font-size: 0px;
  line-height: 0;

  ul {
    display: flex;
    flex-direction: column;
    width: 16px;
    align-items: center;
  }

  li + li {
    margin-top: 24px;
  }

  a {
    width: 8px;
    height: 8px;
    background-color: #c4c4c4;
    opacity: .6;
    transition: all .2s ease;
    border-radius: 50%;
  }

  a.active {
    background-color: #faff00;
    width: 16px;
    height: 16px;
    opacity: 1;
  }
}

.module {
  display: none;
}

@import './media';
